<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="UdQtsGivuq2gahnRh_ILiCzh6Gu6Ub5_EASbWWpzdjE" />
    <title>Online UWC - Home</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body class="home">
	<!-- <div class="wrapper" id="wrapper"> -->
		<!--<div class="caroufredsel_wrapper">
			<div id="carousel" class="carousel">
				<% ['river_background'].each do |i| %>
					<div class="carousel-item">
					<img src="<%= image_url(i+'.jpg') %>" alt="i">
					</div>
				<% end %>
			</div>
		</div>
	-->

		<!-- <div class="login"> -->
			<!-- <a href="/login" class="empty-btn">LOGIN</a> -->
		<!-- </div> -->

		<div class="wrapMain">
			<div class="main">
					<%= image_tag 'Logo1 (1).png', class:"logo_home" %>
					<!-- <img src="/assets/uwc_logo_white.png" width=50%> -->
				<div class="pitch">
					Online UWC makes online education a force to unite people to build a peaceful and sustainable future.
				</div>
				<div id="continue_button" class="continue_button" >
					<a href="/mission" class="empty-btn">MISSION</a>
					<a href="/courses" class="empty-btn">COURSES</a>
				</div>
			</div>
		</div>
	<!-- </div> -->
	<div class="mini_footer">
		<a href="/blog">BLOG</a>  -  <a href="/about">ABOUT US</a>
	</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
