<section class="grayarea" id="aboutOCF" >
<div class="container">
	<div class="row">
		<div class="how col-md-12 text-center">
			<h1>OUR MISSION</h1>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<div class="whatwedo1">
				<h2>Our mission is to help students build skills needed in the world of tomorrow and a sense of global responsibility. <br />
				We want to accomplish this by (1) blending barriers between students and teachers (2) grounding our curriculum in publically available resources and (3) encouraging students to apply their knowledge in their local environments.</h2>
			</div>
		</div>
	</div>
</div>
</section>

<!--
<section class="intro-note topspace70">
<div class="container">
	<div class="row">
		<div class="how col-md-12 text-center">
			<h1>ABOUT OUR COMMON FUTURE</h1>
		</div>

		<div class="col-md-6">
			<p class="right_msg">OCF is a social enterprise which offers online courses to high school students from across the globe. We started off by looking at courses that are normally not part of high school curriculum, namely sustainable development and human rights.</p>
		</div>

		<div class="col-md-6">
			<p class="right_msg">Young people across the globe are itching to make a difference. Therefore our classes don’t stop at offering a theoretical perspective on the subjects thought, but guide students in the process of launching their own initiatives.</p>
		</div>
	</div>
</div>
</section>

<section class="intro-note topspace70">
<div class="container">
	<div class="row">
		<div class="how col-md-12 text-center">
			<h1>OUR EDUCATION APPROACH</h1>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<p class="right_msg">Our courses are taught based on flexible curriculum that favors skills that are crucial in our society: teamwork, creativity, independence and adaptability. We want to inform our teaching with the knowledge that key facts are accessible with technology. We want to focus learning around how to access and analyse all available information, and we want to help the students understand bias embedded in data. We want to help students challenge the unknown, embrace complexity, and accept failure as a stepping stone. We want the students to know how to ask and answer complex questions, understand the cause of things, find solutions, work in a team and share their ideas. We want to encourage our course participants to identify their own interests and grow as independent thinkers. We want to make our students comfortable working in complex international/intercultural settings. Finally, we are interested in showing the students how to apply their understanding of complex issues to solve simpler, smaller, local problems.</p>
		</div>
	</div>
</div>
</section>

<section class="intro-note topspace70">
<div class="container">
	<div class="row">
		<div class="how col-md-12 text-center">
			<h1>PARTNERS</h1>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<p class="right_msg">Our Common Future (a for profit organization) created its first courses on Sustainable Development and Human Rights in partnership with United World Colleges (a not for profit organization with which we share the proceeds).<br />
			We are always looking for new and inspiring partnerships. If you are interested in becoming our partner organisation, please use the <a href="/contact">contact form</a> to get in touch with us.</p>
		</div>
	</div>
</div>
</section>-->
<!-- /.home-features end-->
<!--
<section class="grayarea intro-note topspace70">
<div class="container">
	<div class="row">
		<div id="how"class="col-md-12 text-center">
			<h1>People behind OCF</h1>
			
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
		<div class="col-md-1"></div>
		<div class="col-md-10 animated notransition">
			<div id="memberImage"class="pull-right">
                <%= image_tag 'round_hanna_2x.png', class: 'img-circle' %>
				</div>
			<div style="z-index:2; padding:10px;">
				<p id="memberName">Hanna Celina</p>
				<p id="memberTitle">Online UWC Co-Founder</p><br>
					<div id="memberInfo">
						<p >I like combining things - like the power of the web and the force of the United World Colleges mission statement to build a more sustainable and peaceful world. I have always been passionate about both education and business. I have a bachelors in political science (my thesis was on politics of higher education) and masters in finance.  I worked in a school as a teacher: art, English, photojournalism, business studies - you name it, I have likely taught it. During my business career, I have worked in corporate banking, financial and strategic analysis, but also in business development and consulting for start ups.</p>
						<br>
						<ul class="social-icons">
					<li><a href="https://www.facebook.com/hannacelina" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://www.linkedin.com/in/hannacelina" target="_blank"><i class="fa fa-linkedin"></i></a></li>
				</ul>
					</div>

			</div>
			<br><br>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
	<div class="row">
		<div class="col-md-12">
		<div class="col-md-1"></div>
		<div class="col-md-10 animated notransition">
			<div id="memberImage"class="pull-left">
                <%= image_tag 'round_robin_2x.png', class: 'img-circle' %>
			</div>
			<div style="z-index:2; padding:10px;">
				<p id="memberName2">Robin Tyne</p>
				<p id="memberTitle2">Online UWC Co-Founder</p><br>
					<div id="memberInfo2">
						<p >Online UWC is everything I love: education, sustainability and taking action. I love using the internet to transcend national boundaries to bring information and global exchange to anyone. Working online allows me to continue with my university studies in Arabic, Hebrew and Politics amongst other things. I have recently completed an internship at Newcastle University’s </p>
					</div>
			</div>
			
		</div>
		<div class="col-md-1"></div>
		</div>

		
	</div><br><br>
    <div class="row">
		<div class="col-md-12">
		<div class="col-md-1"></div>
		<div class="col-md-10 animated notransition">
			<div id="memberImage"class="pull-right">
                <%= image_tag 'round_sahra_2x.png', class: 'img-circle' %>
			</div>
			<div style="z-index:2; padding:10px;">
				<p id="memberName">Sahra-Josephine Hjorth</p>
				<p id="memberTitle">Online UWC co-founder, CEO @ hjorthGROUP &amp; Ph.d fellow</p><br>
					<div id="memberInfo">
						<p>I am an entrepreneur with a passion for international relations, experimental education and  activism and strive to achieve world peace through education and sustainable business. On a daily basis, I work as the co–founder and CEO of <span><a style="font-weight: bold;
color:black;"href="http://hjorthgroup.com/" target="_blank">hjorthGROUP.</a></span></p>
					<br>
					<ul class="social-icons">
					<li><a href="https://www.facebook.com/sahrajosephinehjorth" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li><a href="http://dk.linkedin.com/in/ceosahrajosephine" target="_blank"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="http://sahrajosephine.wordpress.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
				</ul>
					</div>
			</div>

		</div>
		<div class="col-md-1"></div>
		</div>

		
	</div>
	<br><br>
		<div class="row">
		<div class="col-md-12">
		<div class="col-md-1"></div>
		<div class="col-md-10 animated notransition">
			<div id="memberImage"class="pull-left">
                <%= image_tag 'round_christian_2x.png', class: 'img-circle' %>
			</div>
			<div style="z-index:2; padding:10px;">
				<p id="memberName2">Christian S. J. Jensen</p>
				<p id="memberTitle2">Designer &amp; Founder @ CSJJ.dk</p><br>
					<div id="memberInfo2">
						<p>See that weird looking guy above? That would be me. I'm Christian. I started working with graphic designs many years ago. Since then, I have been creating clean, elegant, and creative designs. When I design, I always try to be unique and push the boundaries. You might say that I have a good track record, although I am not a horse.</p><br><br>
					<ul class="social-icons pull-right">
						<li><a href="https://www.facebook.com/chrsjensen" target="_blank"><i class="fa fa-facebook"></i></a></li>
						
						<li><a href="http://dk.linkedin.com/in/chrsjensen/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						
						<li><a href="http://www.pinterest.com/chrsjensen/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
					</ul>
					</div>
			</div>
			
		</div>
		<div class="col-md-1"></div>
		</div>
	</div> -->
<!-- 	<br><br> -->
<!--
		<div class="row">
		<div class="col-md-12">
		<div class="col-md-1"></div>
		<div class="col-md-10 animated notransition">
			<div id="memberImage"class="pull-right">
                <%= image_tag 'round_sp_2x.png', class: 'img-circle' %>
			</div>
			<div style="z-index:2; padding:10px;">
				<p id="memberName">Siphamandla Simelane</p>
				<p id="memberTitle">UWC NEXT Co-Founder &amp; Outreach Director</p><br>
					<div id="memberInfo">
						<p>I am in love with data, education and running. I graduated from Luther College with a major in Statistics and economics. Currently I am doing my masters at New Mexico Highlands University in Software Driven systems and taking free online classes on data science. For me, every morning is a good day to run, except for sundays; I rest.</p><br><br>
					<ul class="social-icons pull-left">
						<li><a href="https://www.facebook.com/siphamandla.simelane" target="_blank"><i class="fa fa-facebook"></i></a></li>
						
						<li><a href="http://www.linkedin.com/pub/siphamandla-p-simelane/40/391/aa6" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						
						
					</ul>
					</div>
			</div>
			
		</div>
		<div class="col-md-1"></div>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-12">
		<div class="col-md-1"></div>
		<div class="col-md-10 animated notransition">
			<div id="memberImage"class="pull-left">
                <%= image_tag 'round_vishal_2x.png', class: 'img-circle' %>
			</div>
			<div style="z-index:2; padding:10px;">
				<p id="memberName2">Vishal Bharam</p>
				<p id="memberTitle2">UWC NEXT Co-Founder &amp; Developer</p><br>
					<div id="memberInfo2">
						<p>I love building robots and I am hoping one day I will build my own robot that can do all the things I don’t like doing. I am passionate about education and technology and of course, sustainability. I want to leverage the full potential of technology to make education easy and accessible to everyone and use the combination of education and technology as a tool to make the world sustainable. I just graduated with Bachelors in Electrical Engineering and currently doing my Masters in Software-Driven Systems Design.</p><br><br>
					<ul class="social-icons pull-right">
						<li><a href="https://www.facebook.com/vishal.bharam" target="_blank"><i class="fa fa-facebook"></i></a></li>
						
						<li><a href="http://www.linkedin.com/pub/vishal-bharam/34/417/21b" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						
						
					</ul>
					</div>
			</div>
			
		</div>
		<div class="col-md-1"></div>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-12">
		<div class="col-md-1"></div>
		<div class="col-md-10 animated notransition">
			<div id="memberImage"class="pull-right">
                <%= image_tag 'round_rahul_2x.png', class: 'img-circle' %>
			</div>
			<div style="z-index:2; padding:10px;">
				<p id="memberName">Rahul Patle</p>
				<p id="memberTitle">UWC NEXT Co-Founder &amp; Developer</p><br>
					<div id="memberInfo">
						<p>I am an alumnus of UWC Mahindra 2010. Currently doing my masters in Software-Driven Systems Design. I am very passionate about entrepreneurship, community development and success. I also like to create stunning web and smartphone apps. I love Indian Spicy food. To stay peaceful I like to read and meditate.</p><br><br>
					<ul class="social-icons pull-left">
						<li><a href="https://www.facebook.com/rahulpatle101" target="_blank"><i class="fa fa-facebook"></i></a></li>
						
						<li><a href="https://www.linkedin.com/in/rahulpatle" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						
						
					</ul>
					</div>
			</div>
			
		</div>
		<div class="col-md-1"></div>
		</div>
	</div>
</div>
</section>
-->