<%= form_for @course, url: course_path(@course.name) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => 'desc-form' %>
  </div>
  <div class="actions righted">
    <%= link_to "Back", course_path(@course.name), :class => 'btn btn-danger btn-lg' %>
    <%= f.submit 'Update', :class => 'btn btn-success btn-lg pay-btn' %>
  </div>
<% end %>
