<section class="grayarea" id="aboutOCF" >
    <div class="container">
        <div class="row">
            <div id="how"class="col-md-12 text-center">
                <h1>Our Classes</h1>
            </div>
        </div>
    </div>

    <div class="container" id="note">
        <div class="row">
            <!-- Course Loop -->
            <% @courses.each do |course| %>
                <div class="col-sm-4 animated notransition">
                    <div class="info-box shadow-large bottom0 wrap-courses">
                        <a href="/courses/<%= course.name %>">
                            <div class="info-box-inner">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <%= image_tag course.name+'.jpg', class: 'course-img-mini', alt: course.title %>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="info-content">
                                            <h2 class="class-title"><%= course.title %></h2>

                                            <p class="learn-more" >Learn more ></p>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </a>
                        <div class="counter">
                            <p class="count-text">Course starting in <strong><%= course.getCounter() %></strong>.</p>
                            <div class="subscribe clearfix" >
                                <div class="centered">
                                <a class="btn btn-success btn-lg apply-btn <%= 'disabled' if course.paylink == '' %>" href="#"><%= course.paylink == '' ? 'Opening soon...' : 'Apply now!' %></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>