<section class="grayarea" id="aboutOCF" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="fil-ariane"><%= link_to 'Our Classes', courses_path %> > <%= @course.title %></h4>
            </div>
        </div>
    </div>

    <div class="container" id="note">
        <div class="row">
            <% flash.each do |name, msg| -%>
                <p class="alert alert-success"><%= msg %></p>
            <% end -%>

            <!-- COURSE head -->
            <div class="col-sm-4 animated notransition">
                <div class="info-box shadow-large bottom0 wrap-courses">
                    <div class="info-box-inner">
                        <div class="row">
                            <div class="col-xs-12">
                                <%= image_tag @course.name+'.jpg', class: 'course-img-mini', alt: @course.title %>
                            </div>
                            <div class="col-xs-12 lefted">
                                <div class="info-content">
                                    <h2 class="class-title"><%= @course.title %></h2>
                                    <%= link_to '< Back to courses list', courses_path %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="counter">
                        <p class="count-text">Course starting in <strong><%= @course.getCounter() %></strong>.</p>
                        <div class="subscribe clearfix" >
                            <div class="centered">
                                <a class="btn btn-success btn-lg apply-btn <%= 'disabled' if @course.paylink == '' %>" href="#"><%= @course.paylink == '' ? 'Opening soon...' : 'Apply now!' %></a>
                                <a class="btn btn-primary btn-lg pay-btn <%= 'disabled' if @course.paylink == '' %>" href="<%= @course.paylink %>">Pay</a>
                            	<%= link_to 'Edit', edit_course_path(@course.name), class: 'btn btn-danger btn-lg pay-btn' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COURSE details -->
            <div class="col-sm-8 animated notransition">
                <div class="col-sm-12 details-box shadow-large bottom0">
                    <p><%= raw @course.description %></p>
                </div>

                <div class="col-sm-12 course-log">
                    <div class="col-sm-12">
                        <h3 class="log-name"><i class="glyphicon glyphicon-calendar"></i><%= @course.getSchedule() %></h3>
                        <p class="details"><%= @course.schedule_notes %></p>
                    </div>

                    <div class="col-sm-12">
                        <h3 class="log-name"><i class="glyphicon glyphicon-map-marker"></i>Provided in three locations.</h3>
                        <ul class="details">
                            <li>Europe, Middle East &amp; Africa (EMEA)</li>
                            <li>Asia &amp; the Pacific</li>
                            <li>The Americas &amp; the Caribbean</li>
                        </ul>
                    </div>

                    <div class="col-sm-12">
                        <h3 class="log-name"><i class="glyphicon glyphicon-shopping-cart"></i>&pound; <%= @course.price %></h3>
                        <p class="details">Payment made through PayPal: <a href="<%= @course.paylink %>">pay now.</a></p>
                    </div>
                </div>

                <div class="col-sm-12 details-box shadow-large bottom0">
                    <p><%= raw @course.details %></p>
                </div>
            </div>
        </div>
    </div>
</section>